from transformers import Trainer, TrainingArguments

from .config import TRAINING_CONFIG
from .dataset import build_dataset


def train_student(model, train_data, tokenizer):
    """Train HF student model using Trainer API."""
    dataset = build_dataset(train_data, tokenizer)

    training_args = TrainingArguments(
        output_dir=f"./{TRAINING_CONFIG['project_name']}_checkpoints",
        num_train_epochs=TRAINING_CONFIG["epochs"],
        per_device_train_batch_size=TRAINING_CONFIG["batch_size"],
        learning_rate=TRAINING_CONFIG["lr"],
        weight_decay=0.01,
        logging_steps=10,
        save_strategy="epoch",
        fp16=TRAINING_CONFIG["device"] != "cpu",
        report_to="none",
    )

    trainer = Trainer(
        model=model,
        args=training_args,
        train_dataset=dataset,
        tokenizer=tokenizer,
    )

    trainer.train()
    return model
