MODEL_CONFIG = {
    "hidden_dim": {{ .HiddenDim }},
    "num_layers": {{ .NumLayers }},
    "num_heads": {{ .NumHeads }},
    "vocab_size": {{ .VocabSize }},
    "seq_len": {{ .SeqLen }},
}

TP_CONFIG = {
    "tp_size": {{ .TpSize }},
    "backend": "{{ .Backend }}",
}

TRAINING_CONFIG = {
    "project_name": "{{ .Name }}",
    "precision": "{{ .Precision }}",
    "lr": {{ .LR }},
    "epochs": {{ .Epochs }},
    "batch_size": {{ .BatchSize }},
    "gradient_accumulation_steps": {{ .GradientAccumulationSteps }},
    "max_grad_norm": {{ .MaxGradNorm }},
    "device": "{{ .Device }}",
}
